* {
    margin: 0;
    padding: 0;
}

nav{
    position: fixed;
    margin-top: -10px;
}

body{
    background-image: url("../images/background.webp");
    background-size: cover;
    background-size: 600px;
}

.myCard{
    margin-left: 14vw;
    box-shadow: 0 5px 15px rgba(0,0,0,.5);
}


table caption{
    font-family: 'Reggae One', cursive;
    font-weight: bold;
}

.table-responsive-md{
    margin-top: -200px;
}



footer {
    position: relative;
    background: #111;
    color: #fff;
    height: 80px; 
    max-width: 100vw;
    text-align: center;
    padding-top: 30px; 
}



@media (min-width:1500px){

    .benefits-table{
        max-width: 1424px;
    } 
}

@media (max-width:500px){

    table caption .h4{
        font-size: 1vw;
    }
}