* {
    margin: 0;
    padding: 0;
}

nav{
    position: fixed;
    margin-top: -10px;
}

body{
    background-image: url("../images/background.png");
    background-size: cover;
    background-size: 600px;
}


.container{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-content: center;

    width: 600px;
	padding: 20px;
	box-sizing: border-box;
	border-radius: 4px;
	box-shadow: 0 5px 15px rgba(0,0,0,.5);
	display: flex;
	transition: .5s;
	height: 400px;
	margin-top: 200px;
}

.table-responsive-md{
    margin-top: -200px;
}


footer{
    position: absolute;
    background: #111;
    color: #fff;
    height: 100px; 
    width: 100vw;
}

footer p{
    text-align: center;
    padding-top: 40px;
}


@media (min-width:1500px){
    .background-container{
        max-width: 1140px;
    }

    .benefits-table{
        max-width: 1424px;
    }
    
}

@media screen and (max-width: 800px) {
    .background-container{
        min-height: 470px;  
    }
}

@media screen and (max-width: 600px) {

    .container{
        flex-direction:column;
        justify-content: space-between;
    }

    .background-container{
        padding-bottom: auto;
    }
}