* {
    margin: 0;
    padding: 0;
}

body{
    background-image: url(../images/background.png);
    background-size: cover;
    background-size: 600px; 
}

nav{
    position: fixed;
    margin-top: -10px;
}

h2{
    font-family: 'Reggae One', cursive;
    font-weight: bold;
}

.about-text h2{
    color:#b00020;
    font-style: bold;
}

footer{
    position: absolute;
    background: #111;
    color: #fff;
    height: 100px; 
    width: 100vw;
    margin-top: 150px;
}

footer p{
    text-align: center;
    padding-top: 40px;
}



@media screen and (max-width: 600px) {
    
    main{
        margin-bottom: 100px;
    }
    .sokon{
        margin-top: 40px;
    }
    .about-image{
        margin-top: 15px;
        margin-bottom: 10px;
    }

}

@media screen and (min-width: 200px) and (max-width: 600px) {
  
    .about-text{
        margin-top: 20px;
        margin-bottom: 40px;
    }

}